# Виртуальные окружения
env/
venv/
.venv/
Include/
Lib/
Scripts/
share/
pyvenv.cfg

# Настройки Visual Studio и VS Code
.vs/
.vscode/
*.suo
*.user
*.sln

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Распределения и пакеты
*.egg-info/
dist/
build/

#Настройки py_to_exe
massparseq_py_to_exe_settings.json